@charset "UTF-8";
/*IMPORTACIÓN DE LAS TIPOGRAFÍAS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");
@font-face {
  font-family: PP Hatton;
  src: url(.../font/PPHatton-Medium.otf);
  font-style: medium;
  font-weight: 500;
}
@font-face {
  font-family: PP Hatton;
  src: url(.../font/PPHatton-Bold.otf);
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: PP Hatton;
  src: url(.../font/PPHatton-Ultralight.otf);
  font-style: ultralight;
  font-weight: 200;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  width: 100%;
  background-color: #EBE4DA;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

/*TOP BAR*/
.containter-topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10%;
}

.logo-img {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*boton menu*/
.nav-bar {
  cursor: pointer;
  background: none;
  /* backdrop-filter: blur(10px); */
  /* padding: 14px; */
  border: none;
  width: 50px;
}

.menu {
  position: absolute;
  list-style: none;
  z-index: 5;
  padding: 0;
  margin-right: 4em;
  border-radius: 8px;
  cursor: pointer;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid black;
  /* border-radius: 12px; */
  margin-left: -130%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu__link {
  display: block;
  padding: 1.2em;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
.menu__link:hover {
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #9D0B0B;
  color: white;
}

/*svg*/
.arrow__icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}
.arrow__icon:hover {
  fill: white;
}

/*menu secundario*/
.submenu {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
}

/*clase puesta con js*/
.mostrar {
  margin-left: 1.2em;
}

/*para desktop*/
@media (min-width: 700px) {
  .containter-topbar {
    padding-top: 1.2em;
  }

  .container-logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .nav-bar {
    display: none;
  }

  .menu {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    position: inherit;
    margin-right: auto;
  }

  .submenu {
    position: absolute;
    /* top: 60px;se separa del menu */
    overflow: visible;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    border: none;
  }

  .menu__link {
    border: none;
  }

  .container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
  }

  .main-nav {
    margin-left: 0 auto;
  }
}
/*SLIDER*/
.title-jewlery {
  z-index: 2;
  font-size: 4.5em;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
}

.subtitle-jewlery {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  z-index: 2;
  font-size: 4.5em;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: end;
      align-self: end;
  margin-top: 0;
  margin-bottom: 2.1em;
}

.contenedor-swiper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.3fr 1fr;
  grid-template-columns: 1fr 0.3fr 1fr;
  -ms-grid-rows: 0.3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
  font-family: PP Hatton;
}

.contenedor-swiper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contenedor-swiper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.contenedor-swiper > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.contenedor-swiper > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.contenedor-swiper > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.contenedor-swiper > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.contenedor-swiper > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.contenedor-swiper > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.contenedor-swiper > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.contenedor-swiper > *:nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.contenedor-swiper > *:nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.contenedor-swiper > *:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.contenedor-swiper > *:nth-child(13) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.contenedor-swiper > *:nth-child(14) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.contenedor-swiper > *:nth-child(15) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.swiper {
  width: 20.6em;
  height: 31em;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  grid-column: 1/-1;
  grid-row: 2/-2;
  margin-top: 3em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*contenedor paginacion con flechas*/
.swiper-button-prev {
  grid-column: 1/-3;
  -ms-grid-row: 3;
  grid-row: 3/3;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  position: inherit;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-left: 2em;
  margin-top: 2em;
  position: inherit;
}

.swiper-button-prev::after {
  color: #000;
  font-family: PP Hatton;
  content: "<";
}

.swiper-button-disabled {
  opacity: 100%;
}

.swiper-button-next {
  grid-column: -2/-1;
  -ms-grid-row: 4;
  -ms-grid-row-span: -1;
  grid-row: 4/3;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-align: center;
      align-self: center;
  position: inherit;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-right: 2em;
  margin-top: 2em;
  position: inherit;
}

.swiper-button-next::after {
  color: #000;
  font-family: PP Hatton;
  content: ">";
  opacity: 100% !important;
}

.swiper-pagination {
  font-size: 16px;
  position: inherit;
  -ms-grid-column: 2;
  grid-column: 2/2;
  grid-row: -2/-2;
  -ms-grid-column-align: center;
      justify-self: center;
  align-self: flex-start;
  width: 50%;
  margin-top: 0.7em;
}

/*para desktop*/
@media (min-width: 700px) {
  .title-jewlery {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
    margin-right: 8em;
  }

  .subtitle-jewlery {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
    margin-left: 6.8em;
  }

  .swiper {
    margin-top: 0;
    width: calc(20.6em *1);
    height: calc(31em *1);
  }

  .swiper-button-next {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: -1;
    grid-row: 6/5;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-row-align: auto;
        align-self: auto;
    margin: 0;
  }

  .swiper-button-prev {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: -1;
    grid-row: 6/5;
    -ms-grid-row-align: auto;
        align-self: auto;
    -ms-grid-column-align: start;
        justify-self: start;
    margin: 0;
  }
}