@charset "UTF-8";
/*IMPORTACIÓN DE LAS TIPOGRAFÍAS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");
@font-face {
  font-family: PP Hatton;
  src: url(.../font/PPHatton-Medium.otf);
  font-style: medium;
  font-weight: 500;
}
@font-face {
  font-family: PP Hatton;
  src: url(.../font/PPHatton-Bold.otf);
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: PP Hatton;
  src: url(.../font/PPHatton-Ultralight.otf);
  font-style: ultralight;
  font-weight: 200;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  width: 100%;
  background-color: #EBE4DA;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*TOP BAR*/
.containter-topbar {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.logo-img {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*boton menu*/
.nav-bar {
  cursor: pointer;
  background: none;
  /* backdrop-filter: blur(10px); */
  /* padding: 14px; */
  border: none;
  width: 50px;
}

.menu {
  position: absolute;
  list-style: none;
  z-index: 5;
  padding: 0;
  margin-right: 4em;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid black;
  /* border-radius: 12px; */
  margin-left: -130%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu__link {
  display: block;
  padding: 1.2em;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
.menu__link:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #9D0B0B;
  color: #EBE4DA;
  border-radius: 8px;
}

/*svg*/
.arrow__icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}
.arrow__icon:hover {
  fill: white;
}

/*menu secundario*/
.container-submenu {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #ffffff01;
}

.submenu {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
}

/*clase puesta con js*/
.mostrar {
  margin-left: 1.2em;
}

/*para desktop*/
@media (min-width: 700px) {
  .containter-topbar {
    padding-top: 1.2em;
    height: 80px;
  }

  .container-logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .nav-bar {
    display: none;
  }

  .menu {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    position: inherit;
    margin-right: auto;
  }

  .submenu {
    position: absolute;
    /* top: 60px;se separa del menu */
    overflow: visible;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    border: none;
  }

  .menu__link {
    border: none;
  }

  .container-submenu:hover {
    opacity: 1;
    visibility: visible;
  }

  .container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
  }

  .main-nav {
    margin-left: 0 auto;
  }
}
.cta-buttoms {
  color: #9D0B0B;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: underline;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
  padding: 0;
  cursor: pointer;
  text-underline-offset: 5px;
}
.cta-buttoms:hover {
  font-style: italic;
}

/*SLIDER*/
.title-jewlery {
  z-index: 2;
  font-size: 4.5em;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
}

.subtitle-jewlery {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  z-index: 2;
  font-size: 4.5em;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: end;
      align-self: end;
  margin-top: 0;
  margin-bottom: 1.9em;
}

.contenedor-swiper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.3fr 1fr;
  grid-template-columns: 1fr 0.3fr 1fr;
  -ms-grid-rows: 0.3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
  font-family: PP Hatton;
  padding-top: 4em;
}

.contenedor-swiper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contenedor-swiper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.contenedor-swiper > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.contenedor-swiper > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.contenedor-swiper > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.contenedor-swiper > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.contenedor-swiper > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.contenedor-swiper > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.contenedor-swiper > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.contenedor-swiper > *:nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.contenedor-swiper > *:nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.contenedor-swiper > *:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.contenedor-swiper > *:nth-child(13) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.contenedor-swiper > *:nth-child(14) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.contenedor-swiper > *:nth-child(15) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.swiper {
  width: 20.6em;
  height: 31em;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  grid-column: 1/-1;
  grid-row: 2/-2;
  margin-top: 3em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*contenedor paginacion con flechas*/
.swiper-button-prev {
  grid-column: 1/-3;
  -ms-grid-row: 3;
  grid-row: 3/3;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  position: inherit;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-left: 2em;
  margin-top: 2em;
  position: inherit;
}

.swiper-button-prev::after {
  color: #000;
  font-family: PP Hatton;
  content: "<";
}

.swiper-button-disabled {
  opacity: 100%;
}

.swiper-button-next {
  grid-column: -2/-1;
  -ms-grid-row: 4;
  -ms-grid-row-span: -1;
  grid-row: 4/3;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-align: center;
      align-self: center;
  position: inherit;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-right: 2em;
  margin-top: 2em;
  position: inherit;
}

.swiper-button-next::after {
  color: #000;
  font-family: PP Hatton;
  content: ">";
  opacity: 100% !important;
}

.swiper-pagination {
  font-size: 16px;
  position: inherit;
  -ms-grid-column: 2;
  grid-column: 2/2;
  grid-row: -2/-2;
  -ms-grid-column-align: center;
      justify-self: center;
  align-self: flex-start;
  margin-top: 2em;
}

/*para desktop*/
@media (min-width: 650px) {
  .contenedor-swiper {
    padding-top: 4em;
  }

  .title-jewlery {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
    margin-right: 6em;
  }

  .subtitle-jewlery {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
    margin-left: 5.8em;
  }

  .swiper {
    margin-top: 0;
    width: calc(20.6em *.8);
    height: calc(31em *.8);
  }

  .swiper-button-next {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: -1;
    grid-row: 6/5;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-row-align: auto;
        align-self: auto;
    margin: 0;
  }

  .swiper-button-prev {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: -1;
    grid-row: 6/5;
    -ms-grid-row-align: auto;
        align-self: auto;
    -ms-grid-column-align: start;
        justify-self: start;
    margin: 0;
  }

  .swiper-pagination {
    width: 50%;
    margin-top: 0.7em;
  }
}
@media (min-width: 2000px) {
  .swiper {
    margin-top: 0;
    width: calc(20.6em *1.5);
    height: calc(31em *1.5);
  }
}
/*HOME-CTA INTRO*/
.intro-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  /*position inherit para desktop*/
  margin-top: -6.5em;
  margin-right: 4em;
  margin-left: 4em;
}
.intro-home__title {
  text-align: center;
  line-height: 140%;
  font-size: 16px;
  letter-spacing: 0.08em;
  font-family: PP Hatton;
}
.intro-home__cta {
  margin-right: 1.7em;
  font-family: PP Hatton;
}

@media (min-width: 700px) {
  .intro-home {
    position: inherit;
    font-size: 38px;
    margin-top: -2em;
  }
  .intro-home__title {
    margin-bottom: 1em;
    width: 250px;
  }
}
@media (min-width: 2000px) {
  .intro-home__title {
    width: 433px;
  }
}
/*HOME-SECTION MI JOYA PERFECTA*/
.section-miJoyaPerfecta__image {
  width: 100%;
}
.section-miJoyaPerfecta__title {
  font-family: PP Hatton;
  font-size: 30px;
  color: white;
  position: absolute;
  margin-top: -10em;
  margin-left: 45px;
  margin-right: 6.2em;
}
.section-miJoyaPerfecta__description {
  margin-top: 45px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 0;
  line-height: 160.5%;
}
.section-miJoyaPerfecta__description-2 {
  margin: 45px;
  line-height: 160.5%;
}
.section-miJoyaPerfecta__cta {
  margin-left: 45px;
  font-family: PP Hatton;
}

/*SECTION LINKS TO THE SHOP*/
.section-linksShop {
  background-image: url("../images/home/backgroundLinks.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 125px 0;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-linksShop__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  margin-bottom: 20px;
}
.section-linksShop__container-titleLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4em;
  margin-bottom: 4em;
}
.section-linksShop__container-links {
  text-underline-offset: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 1.2em;
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
}
.section-linksShop__container-links__item {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  color: black;
  font-size: 34px;
  font-family: PP Hatton;
}
.section-linksShop__container-links__links-shop {
  color: black;
}
.section-linksShop__container-links__links-shop:hover {
  font-style: italic;
  color: #9D0B0B;
}
.section-linksShop__img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 700px) {
  .section-miJoyaPerfecta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section-miJoyaPerfecta__image {
    width: 40%;
    height: 40%;
  }
  .section-miJoyaPerfecta__title {
    color: black;
    position: inherit;
    margin-top: 0;
    margin-right: 3em;
    margin-left: 0;
  }
  .section-miJoyaPerfecta__description {
    margin-left: 128px;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .section-miJoyaPerfecta__description-2 {
    margin-top: 20px;
    margin-left: 128px;
    margin-bottom: 0;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .section-miJoyaPerfecta__cta {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 0;
    margin-top: 1em;
  }

  .container-text {
    display: -ms-grid;
    display: grid;
    margin-left: 40px;
    margin-right: 66px;
    -ms-grid-rows: 1fr 0.25fr 0.25fr 0.25fr;
    grid-template-rows: 1fr 0.25fr 0.25fr 0.25fr;
  }

  .section-linksShop {
    background-position: 445px -557px;
    background-size: auto;
  }
  .section-linksShop__conatiner-links {
    margin-top: 8em;
    margin-bottom: 8em;
  }
}
/*SECTION VALUES*/
.section-values__title {
  font-family: PP Hatton;
  font-size: 30px;
  width: 240px;
  line-height: 145.5%;
}
.section-values__container-silver__title {
  font-family: PP Hatton;
  font-size: 24px;
}
.section-values__container-silver__img {
  width: 80%;
  margin-left: 0;
  margin-right: 45px;
}
.section-values__container-silver__text {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 4em;
  font-size: 16px;
  line-height: 160.5%;
}
.section-values__container-piedras__title {
  font-family: PP Hatton;
  font-size: 24px;
  width: 300px;
}
.section-values__container-piedras__img {
  width: 80%;
  margin-left: 82px;
}
.section-values__container-piedras__text {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 4em;
  font-size: 16px;
  line-height: 160.5%;
}
.section-values__container-boho__img {
  width: 80%;
  margin-left: 39px;
}
.section-values__container-boho__title {
  font-family: PP Hatton;
  font-size: 24px;
}
.section-values__container-boho__text {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 4em;
  font-size: 16px;
  line-height: 160.5%;
}

/*SECTION SIZE GUIDE*/
.section-sizeGuide__title {
  font-family: PP Hatton;
  font-size: 30px;
  z-index: 1;
  width: 200px;
  margin-top: -10px;
}
.section-sizeGuide__img {
  background-image: url("../images/home/seccionTalla.webp");
  background-size: cover;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 300px;
  height: 300px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.section-sizeGuide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-sizeGuide__container__imgRing {
  margin-top: 1.2em;
  width: 200px;
}
.section-sizeGuide__container__table {
  margin-top: 1.2em;
  row-gap: 2em;
  border-spacing: 2em;
  text-align: center;
}
.section-sizeGuide__container__table__title {
  border-collapse: separate;
  font-family: PP Hatton;
  font-weight: 200;
  font-size: 16px;
}

@media (min-width: 700px) {
  .section-values__title {
    font-size: 48px;
  }
  .section-values__container-silver {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 98px;
  }
  .section-values__container-silver__img {
    width: 30%;
    margin-left: 45px;
  }
  .section-values__container-silver__title {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    font-size: 38px;
    text-align: center;
    font-weight: 200;
  }
  .section-values__container-silver__text {
    max-width: 500px;
  }
  .section-values__container-piedras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 98px;
  }
  .section-values__container-piedras__img {
    width: 30%;
    margin-left: 45px;
  }
  .section-values__container-piedras__title {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    font-size: 38px;
    text-align: center;
    font-weight: 200;
  }
  .section-values__container-piedras__text {
    max-width: 500px;
  }
  .section-values__container-boho {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 98px;
  }
  .section-values__container-boho__img {
    width: 30%;
    margin-left: 45px;
  }
  .section-values__container-boho__title {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    font-size: 38px;
    text-align: center;
    font-weight: 200;
  }
  .section-values__container-boho__text {
    max-width: 500px;
  }
  .section-values__container-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-values__cta {
    margin: 0;
    font-size: 26px;
  }
}
@media (min-width: 700px) {
  .section-sizeGuide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section-sizeGuide__title {
    font-size: 48px;
  }
  .section-sizeGuide__img {
    width: 600px;
    height: 600px;
    margin-left: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: -100px;
  }
  .section-sizeGuide__container {
    margin: 0 auto;
  }
}
.grid-shop {
  margin-right: 1.2em;
  margin-left: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 6.5em;
}

.container-filter {
  padding-top: 5em;
}
.container-filter__filtro-tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-filter__btn-filtro {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-weight: bold;
  font-size: 16px;
  position: fixed;
  cursor: pointer;
  color: #9D0B0B;
  width: 156px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 12px;
  background: none;
  backdrop-filter: blur(10px);
  border: 1.5px solid #9D0B0B;
}
.container-filter__despliegue-filtro {
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.filtro__link {
  color: #9D0B0B;
  display: block;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  font-weight: 500;
  text-align: center;
  list-style: none;
  text-decoration: none;
}
.filtro__link:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #9D0B0B;
  color: #EBE4DA;
  border-radius: 8px;
}

.filtro__item:last-child {
  padding-bottom: 0;
}

.filtro__item {
  list-style: none;
  text-decoration: none;
}

/*clase puesta con js*/
.mostrarFiltro {
  /* margin-left: 0; */
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-gap: 2em;
  -ms-grid-columns: 1fr 2em 1fr 2em 1fr 2em 1fr;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
  max-width: 70vw;
}

.product__image {
  margin: 0 auto;
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__name__title {
  margin-top: 10px;
  margin-bottom: 0;
}
.product__price {
  margin-top: 10px;
  font-style: italic;
}

@media only screen and (max-width: 900px) {
  .grid-shop {
    margin-left: 45px;
    margin-right: 45px;
  }

  .list {
    grid-gap: 2em;
    -ms-grid-columns: 1fr 2em 1fr;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }

  .product__name {
    font-size: 14px;
    font-weight: 500;
  }
  .product__price {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
  }

  .container-filter__btn-filtro {
    bottom: 45px;
    position: fixed;
    left: 30%;
  }
}
/*Introduction - test section*/
.container-header-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container-header-test__title-test {
  font-family: PP Hatton;
  font-weight: 500;
  font-size: 4em;
  text-align: center;
}
.container-header-test__start-test {
  color: #9D0B0B;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.7em;
}
.container-header-test__intro-text {
  font-font-weight: light;
  font-size: 14px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
  margin-bottom: 472px;
}

.form-section {
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F3EF), color-stop(24.27%, #BDB09E), color-stop(50.83%, #E5B9B9), color-stop(77.6%, #F5B092), to(#D58763));
  background: linear-gradient(180deg, #F5F3EF 0%, #BDB09E 24.27%, #E5B9B9 50.83%, #F5B092 77.6%, #D58763 100%);
  padding-left: 45px;
  padding-right: 45px;
}

/*form - test section*/
.test-form__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 16px;
}
.test-form__question__yes {
  cursor: pointer;
}
.test-form__question__text {
  margin-bottom: 20px;
  font-size: 20px;
}
.test-form__question__yes {
  padding: 1em;
}
.test-form__question__yes p {
  font-weight: 600;
  margin-top: 0;
}

.number-question {
  font-size: 24px;
  font-family: PP Hatton;
}

.container-both-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  margin-bottom: 700px;
}
.container-both-questions__container-inputs {
  border: 1.5px solid black;
  border-radius: 4px;
  width: 150px;
  height: 150px;
}

.resultsTest {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2em 1fr;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 2em;
}

.container-resultsImage:nth-of-type(3n) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.container-resultsImage__imgResultTest {
  width: 100%;
}
.container-resultsImage__nameResult {
  margin-top: 10px;
  font-weight: 600;
}
.container-resultsImage__namePrice {
  font-style: italic;
}

.section-margin {
  padding-top: 7em;
}

.section-margin-top {
  margin-top: 7em;
  margin-bottom: 7em;
}

.size-icon {
  width: 38px;
  height: 38px;
}

.margin-bottom {
  margin-bottom: 80px;
}

.margin-left-right {
  margin-right: 1.2em;
  margin-left: 1.2em;
}

.exterior-margin {
  margin-left: 45px;
  margin-right: 45px;
}

.margin-left-mob {
  margin-left: 45px;
}