.footer{
    margin-top: 7em;
    background:$background-footer;
    &__newsletter{
        &__title{
            font-family: $headers;
            font-size: 30px;
            line-height:145.5% ;
            margin: {
                top: 0;
                bottom:$atom-margin-icons;
            }
            @media (min-width:700px){
                width: 500px;
            }
        }
        &__container{
            display: flex;
            align-items:center ;
            align-content: space-between;
            gap: $atom-margin-icons;
            &__input{
                background: none;
                border:none;
                border-bottom:.5px solid black ;
                
            }
            &__logo{
                width: 50px;
            }
            &__button{
                background: none;
                border: none;
            }
        }
    }
    &__contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:$atom-margin;
        &__text{
            font-size:$h5;
        }
    }
    &__cookies-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $molecule-margin;
    }
}