.footer{

    margin-top: 7em;
    background:$background-footer;
    &__newsletter{
        margin-left: $exterior-margen;
        @media (min-width:700px){
            margin-left: $exterior-margen-desk
        }
        &__title{
            font-family: $headers;
            font-size: 30px;
            line-height:145.5% ;
            width: 85vw;
            margin: {
                top: 0;
                bottom:$atom-margin-icons;
            }
            @media (min-width:700px){
                width: 500px;
            }
        }
        &__container{
            display: flex;
            align-items:center ;
            align-content: space-between;
            gap: $atom-margin-icons;
            width: 50vw;
            &__input{
                background: none;
                border:none;
                border-bottom:.5px solid black ;
                
            }
            &__logo{
                width: 50px;
            }
            &__button{
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    }
    &__contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:$atom-margin;
        &__text{
            font-size:$h5;
        }
    }
    &__cookies-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 3em;
    }

}
@media (min-width:700px){
    .footer__newsletter__container{
        &__input{
            width: 30%;
            font-size: 18px;
        }
        &__logo{
            width: 70px;
        }
    }
}
@media (min-width:700px){
    .footer__contact-container{
        &__text{
            font-size: $p-footer-desk;
        }
    }
    .footer__cookies-container__text{
        font-size: $p-desk;
    }
}