/*TOP BAR*/
.containter-topbar{
    backdrop-filter: blur(10px); 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
    position: fixed;
    width: 100%;
    z-index: $z-top;
}
// .container-logo{
//     // nose q hacer con mi vida
//     // position: absolute;
//     // align-items: center;
//     // display: block;
//     // margin-right: auto;
    
// }

// @supports(backdrop-filter){
//     .containter-topbar{
//         background-color: $background-color;
//         backdrop-filter: blur(10px);
// }

.logo-img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*boton menu*/
.nav-bar{
    cursor:pointer;
    background: none;
    /* backdrop-filter: blur(10px); */
    /* padding: 14px; */
    border: none;
    width: 50px;
}
.menu{
    background: $background-color;
    position: absolute;
    list-style: none;
    z-index: 100;
    padding: 0;
    margin-right: $molecule-margin;
    border-radius: 8px;
    // width: 100%;
    cursor: pointer;
    // backdrop-filter: blur(10px);
    border: 1px solid black;
    /* border-radius: 12px; */
    margin-left:-130% ;
    // display: none;
    // background: #ffffff01;
    // backdrop-filter:blur(10px) ;
    transition: all .3s ease-in-out;
    // backdrop-filter: blur(40px); 
}

.menu__link{
    // backdrop-filter: blur(40px); 
    display: block;
    padding:$atom-margin;
    font-size: $h2;
    text-decoration:none;
    color: black;
    // &:first-child{
    //     &:hover{
    //         border-top-left-radius: 8px;
    //         border-top-right-radius: 8px;
    //     }
    // }
    // &:last-child{
    //         border-bottom-left-radius: 8px;
    //         border-bottom-right-radius: 8px;
    // }
    &:hover{
        @include hoverButtons;
    }
}

.submenu-btn{
    &:hover{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

/*svg*/
.arrow__icon{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    &:hover{
        fill: white;
    }
}

/*menu secundario*/
.container-submenu{
    // backdrop-filter:blur(10px) ;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #ffffff01;
    // backdrop-filter:blur(10px);
}
.submenu{
    height: 0;
    overflow: hidden;
    transition: all .3s;
    // backdrop-filter: blur(40px); 
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
}

/*clase puesta con js*/
.mostrar{
    margin-left: $atom-margin;
    // display: block;
} 


/*para desktop*/
@media (min-width:700px) {
    .containter-topbar{
        // background-color: #9d0b0b55;
        padding-top:$atom-margin ;
        height: 80px;
        font-size: 14px;
    }
    .container-logo{
        order:-1;
    }
    .nav-bar{
        display: none;
    }
    .menu{
        column-gap: $atom-margin;
        background:none;
        margin-left: 0;
        display: flex;
        // column-gap: 2em;
        border: none;
        position: inherit;
        // margin-left: auto;
        margin-right: auto;
        // order: 2;
    }    
    .submenu{
        // backdrop-filter: blur(10px);
        // background-color: $background-color;
        position: absolute;
        /* top: 60px;se separa del menu */
        // width: 200px;
        overflow: visible;
        z-index: $z-top;
        visibility: hidden;
        opacity: 0 ;
        border: none;
        
        // &:first-child{
        //     width: 130px;
        // }
    }
    
    .menu__item-sub{
        background-color: $cta-color;
        font-size: 11.45px;
        color: black;
        border-top: 1px solid $background-color;
        &:first-child{
            &:hover{
                background-color: $cta-color;
                color: $background-color;
            }
        }
        &:hover{
            background-color: $background-color;
            color: $cta;
        }
    }
    .container-submenu{
        &:hover{
            opacity: 1;
            visibility: visible;
            background-color: $cta-color;
        }
    }
    .container-submenu:hover .submenu{
        opacity: 1;
        visibility: visible;
    }
    .main-nav{
        margin-left: 0 auto;
    }
    .border-radius{
        &:hover{
            border-radius: 8px;
        }
    }
    .bg-color{
        color: $background-color;
        &:hover{
            background-color: $background-color;
            color: $cta-color;
        }
    }
    
}
