//mixin para font-family Montserrat medium//
@mixin font-montserrat-mob{
    font-family: $paragraphs;
    font-weight: 500;
    font-size: $p-mob;
}

// @mixin font-headers-mob{

// }
//mixin h1mob
@mixin font-h1-mob{
    font-family: $headers;
    font-weight: 500;
    font-size: $h1;
}
@mixin hoverButtons{
    transition: all .4s ease-in-out;
    background-color: $cta-color;
    color: $background-color;
    // border-top-left-radius: 8px;
    // border-top-right-radius: 8px;
}
@mixin titles-values{
    font-family: $headers;
    font-size:$p-footer-desk; 
}
@mixin text-values{
    margin: {
        left:$exterior-margen ;
        right: $exterior-margen;
        bottom: $molecule-margin;
    }
    // font-size:$p-desk ;
    line-height: 160.5%;
}
@mixin containers-values{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: $organism-margin-desk;
        &__img{
            width: 30%;
            margin-left: $exterior-margen;
        }
        &__title{
            order: -1;
            font-size: $h5-desk;
            text-align: center;
            font-weight: 200;
        }
        &__text{
            max-width:500px ;
        }
}