.section-margin{
    padding-top: 7em;
}
.section-margin-top{
    margin-top: 7em;
    margin-bottom: 7em;
}

.size-icon{
    width: 38px;
    height: 38px;
}
.margin-bottom{
    margin-bottom: 80px;
}
.margin-left-right{
    margin: {
        right: $atom-margin;
        left:$atom-margin;
    };
}
.exterior-margin{
    margin: {
        left: $exterior-margen;
        right: $exterior-margen;
    }
}
.margin-left-mob{
    margin-left: $exterior-margen;
}
.ppHatton{
    font-family: $headers;
}
.lineHeight{
    line-height: 160.5%;
}