*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    width: 100%;
    background-color: $background-color;
    @include font-montserrat-mob;
    overflow-x: hidden;
}