.cta-buttoms{
    color: $cta-color;
        font: {
            size: 22px;
            weight: 500;
        }
        letter-spacing: .1em;
        text-decoration: underline;
        background: none;
        border: none;
        display: flex;
        align-items:center ;
        justify-content: center;
        gap: .5em;
        padding: 0;
        cursor: pointer;
        text-underline-offset: 5px;
        &:hover{
            font-style: italic;
        }
}
