//COLORES CORPORATIVOS//
$background-color: #EBE4DA;
$cta-color: #9D0B0B;


//FOOTER BACKGROUND GRADIENT//
$background-footer:  linear-gradient(180deg, rgba(213, 135, 99, 0) 38.69%, #D58763 90.29%);

//SECCION TEST BACKGROUND GRADIENT//
$background-test:  linear-gradient(180deg, #F5F3EF 0%, #BDB09E 24.27%, #E5B9B9 50.83%, #F5B092 77.6%, #D58763 100%);
$filter-bg-test: blur(96px);

