//ESPACIADO MOBIL//
$exterior-margen: 45px;
$atom-margin-icons:1em;
$atom-margin: 1.2em;
$molecule-margin: 4em; //24px//
$organism-margin: 40px;
$section-margin: 118px;
$margin-questions-test:$section-margin*4;

//ESPACIADO DESKTOP//
$exterior-margen-desk: 66px;
$atom-margin-desk: 20px;
$molecule-margin-desk: 44px;
$organism-margin-desk: 98px;
$section-margin-desk: 128px;
