/*IMPORTACIÓN DE LAS TIPOGRAFÍAS*/
//HEADERS//
@font-face {
    font-family: PP Hatton;
    src: url(../font/PPHatton-Medium.otf);
    font-style: medium;
    font-weight: 500;
}

@font-face {
    font-family: PP Hatton;
    src: url(../font/PPHatton-Bold.otf);
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: PP Hatton;
    src: url(../font/PPHatton-Ultralight.otf);
    font-style: ultra-light;
    font-weight: 200;
}

//PARAGRAPHS//
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');


$headers: PP Hatton;
$paragraphs: 'Montserrat', sans-serif;


//FONT SIZE MOBIL//
$h1: 4.5em;
$h2: 1.2em;
$h3: 30px;
$h5:16px;
$h6:34px;
$p-mob:14px;
$p-mob-bold:12px;
$cta:1.2em;
$p-footer:10px;


//FONT SIZE DESKTOP//
$h1-desk: 68px;
$h2-desk: 26px;
$h3-desk: 46px;
$h5-desk:38px;
$h6-desk:64px;
$p-desk:18px;
$p-price:16px;
$p-desk-bold:16px;
$cta-desk:26px;
$p-footer-desk:24px;