/*SLIDER*/
.title-jewlery{
    // grid-column: 1/3;
    // grid-row: 1/3;
    z-index: $z-below;
    font-size: $h1;
    position: absolute;
    justify-self: center;
}
.subtitle-jewlery{
    grid-row: 4/5;
    z-index: $z-below;
    font-size: $h1;
    position: absolute;
    justify-self: center;
    align-self: end;
    margin: {
        top: 0;
        bottom:2.1em;
    }

}
.contenedor-swiper{
    display: grid;
    grid-template-columns: 1fr 0.30fr 1fr;
    grid-template-rows: .30fr 1fr 1fr 1fr 1fr;
    font-family: $headers;
    
} 
.swiper {
    width: 20.6em;//236px
    height: 31em;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    grid-column:  1/-1;
    grid-row: 2/-2;
    margin-top: 3em;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

  /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*contenedor paginacion con flechas*/
// .container-paginacion-flechas{
//     display: flex;
//     justify-content: space-around;
    

// }
// .swiper-pagination{
//     grid-column:-3 ;
//     grid-row: 1/2;
// }
// .swiper-pagination{
//     position: inherit;
//     margin-top: 1em;
//     display: flex;
//     justify-content: center;
//     font-family: $headers;
//     font-size: 1em;
// }
.swiper-button-prev{
    grid-column:1/-3 ;
    grid-row: 3/3;
    align-self: center;
    justify-self: start;
    position: inherit;
    top: 0;
    width: 40px;
    height: 40px;
    margin: 0; 
    margin-left: 2em;
    margin-top: 2em;
    position: inherit ;
}
.swiper-button-prev::after{
    // font-size: 60px;
    color: #000;
    font-family:$headers ;
    content:"<" ;
    
}
.swiper-button-disabled {
    opacity: 100% ;
}
.swiper-button-next{
    grid-column:-2/-1 ;
    grid-row: 4/3;
    justify-self: end;
    align-self: center;
    position: inherit;
    top: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    margin-right: 2em;
    margin-top: 2em;
    position: inherit ;
}

.swiper-button-next::after{
    // font-size: 100px;
    color: #000;
    font-family: $headers ;
    content:">" ;
    opacity: 100% !important;
}

.swiper-pagination{
    font-size: $h5;
    position: inherit;
    grid-column:2/2 ;
    grid-row: -2/-2;
    justify-self: center;
    align-self: flex-start;
    width: 50%;
    margin-top: .7em;
}

/*para desktop*/
@media (min-width:700px){
    .title-jewlery{
        justify-self: center;
        align-self: center;
        margin: 0;
        margin-right: 8em;
    }
    .subtitle-jewlery{
        justify-self:center;
        align-self: center;
        margin: 0;
        margin-left: 6.8em;
    }
    .swiper {
        margin-top: 0;
        width: calc(20.6em *1);
        height: calc(31em *1);
    }
    .swiper-button-next{
        grid-column: 2/3;
        grid-row: 6/5;
        justify-self: end;
        align-self: auto;
        margin: 0;
    }
    .swiper-button-prev{
        grid-column: 2/3;
        grid-row: 6/5;
        align-self: auto;
        justify-self: start;
        margin: 0;
    }
}