/*SLIDER*/
.title-jewlery{
    // grid-column: 1/3;
    // grid-row: 1/3;
    z-index: $z-below;
    font-size: $h1;
    position: absolute;
    justify-self: center;
}
.subtitle-jewlery{
    grid-row: 4/5;
    z-index: $z-below;
    font-size: $h1;
    position: absolute;
    justify-self: center;
    align-self: end;
    margin: {
        top: 0;
        bottom:1.9em;
    }

}
.contenedor-swiper{
    display: grid;
    grid-template-columns: 1fr 0.30fr 1fr;
    grid-template-rows: .30fr 1fr 1fr 1fr 1fr;
    font-family: $headers;
    padding-top: $molecule-margin;
    
} 
.swiper {
    width: 20.6em;//236px
    height: 31em;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    grid-column:  1/-1;
    grid-row: 2/-2;
    margin-top: 3em;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

  /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/2;
}

.swiper-button-prev{
    grid-column:1/-3 ;
    grid-row: 3/3;
    align-self: center;
    justify-self: start;
    position: inherit;
    top: 0;
    width: 40px;
    height: 40px;
    margin: 0; 
    margin-left: 2em;
    margin-top: 2em;
    position: inherit ;
    &::after{
        color: #000;
        font-family:$headers ;
        content:"<" ;
    }
}

.swiper-button-disabled {
    opacity: 100% ;
}
.swiper-button-next{
    grid-column:-2/-1 ;
    grid-row: 4/3;
    justify-self: end;
    align-self: center;
    position: inherit;
    top: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    margin-right: 2em;
    margin-top: 2em;
    position: inherit ;
    &::after{
        color: #000;
        font-family: $headers ;
        content:">" ;
        opacity: 100% !important;
    }
}

.swiper-pagination{
    font-size: $h5;
    position: inherit;
    grid-column:2/2 ;
    grid-row: -2/-2;
    justify-self: center;
    align-self: flex-start;
    margin-top: 2em;
}

/*para desktop*/
@media (min-width:900px){
    .vh{
        display: flex;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
    }
    .contenedor-swiper{
        padding-top: $molecule-margin;
    }
        .title-jewlery{
            justify-self: center;
            align-self: center;
            margin: 0;
            margin-right: 6em;
            font-size: $h1-desk;
        }
        .subtitle-jewlery{
            justify-self:center;
            align-self: center;
            margin: 0;
            margin-left: 5.8em;
            font-size: $h1-desk;
        }
        .swiper {
            margin-top: 0;
            width: calc(20.6em *.8);
            height: calc(31em *.8);
        }
        .swiper-button-next{
            grid-column: 2/3;
            grid-row: 6/5;
            justify-self: end;
            align-self: auto;
            margin: 0;
        }
        .swiper-button-prev{
            grid-column: 2/3;
            grid-row: 6/5;
            align-self: auto;
            justify-self: start;
            margin: 0;
        }
        .swiper-pagination{
            width: 50%;
            margin-top: .7em;
            font-size: 20px;
        }
}
@media (min-width:1800px){
    .swiper {
        margin-top: 0;
        width: calc(20.6em *1.1);
        height: calc(31em *1.1);
    }
}
/*HOME-CTA INTRO*/
.intro-home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;/*position inherit para desktop*/
    margin-top: -6.5em;
    margin: {
        right: $molecule-margin;
        left:$molecule-margin;
    };
    &__title{
        text-align: center;
        line-height: 140%;
        font-size: $h5;
        letter-spacing: 0.08em;
        font-family: $headers;
        
    }
    &__cta{
        margin-right: 1.7em;
        font-family: $headers;
        // margin-top: 4em;
    }
}
@media (min-width:700px){
    .intro-home {
        position: inherit;
        font-size: $h5-desk;
        margin-top: -2em;
        
        &__title{
            margin: {
                bottom: 1em;
            }
            // position: absolute;
            width: 350px;
            font-size: 20px;
        }
    }
}
@media (min-width:2000px){
    .intro-home__title{
        width: 433px;
    }
}
/*HOME-SECTION MI JOYA PERFECTA*/
.section-miJoyaPerfecta{
    
    &__image{
        width: 100%;
        aspect-ratio: 1/1;
    }
    &__title{
        font-family: $headers;
        font-size:$h3 ;
        color: white;
        position: absolute;
        margin: {
            top:-10em;
            left: $exterior-margen;
            right:6.2em;
        }
        
        line-height:140.5% ;
    }
    &__description{
        margin: {
            top:$exterior-margen ;
            left: $exterior-margen;
            right: $exterior-margen;
            bottom: 0;
        }
        line-height: 160.5%;
        font-size: 20px;
    }
    &__description-2{
        margin: $exterior-margen;
        line-height: 160.5%;
        font-size: 20px;
    }
    &__cta{
        margin-left: $exterior-margen;
        font-family: $headers;
        justify-content: flex-start;
    }
}

/*SECTION LINKS TO THE SHOP*/
.section-links{
    background-image: url('../images/home/backgroundLinks.webp');
    // background-size: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: right;
    background-position: 190px 0px;
    object-fit: contain;
}
.section-linksShop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    // min-height: 445px;
    // max-height: 770px;
    &__img{
        width: 95%;
        position: absolute;
        z-index:-1;
        aspect-ratio: 1/2;
    }
    &__title{
        display: flex;
        justify-content: center;
        font-size:$h2 ;
        margin-bottom: $atom-margin-desk;
    }
    &__container-titleLinks{
        // position: absolute;
        display: flex;
        align-items: center;
        flex-direction:column;
        margin: {
            top: 4em;
            bottom: 4em;
        }
    }
    &__container-links{
        text-underline-offset: 5px;
        align-items: center;
        list-style: none;
        padding: 0;
        margin-bottom:$atom-margin;
        display: grid;
        row-gap: 30px;
        &__item{
            place-self: center;
            justify-content: center;
            list-style: none;
            color:black;
            font-size: $h3;
            font-family: $headers;
        }
        &__links-shop{
            color: black;
            &:hover{
                font-style: italic;
                color: $cta-color;
            }
        }
    }
    
}

@media (min-width:900px){
    .section-miJoyaPerfecta{
        display: flex;
        flex-direction: row;
        &__image{
            width: 40%;
            height: 40%;
        }
        &__title{
            color: black;
            position: inherit;
            font-size: $h3-desk;
            margin: {
                top: 0;
                right: 3em;
                left: 0;
            }
            width: 750px;
            // width: 550px;
        }
        &__description{
            font-size: $p-desk-bold;
            margin-left: $section-margin-desk;
            // width: 500px;
            align-self:end ;
            width: 600px;
        }
        &__description-2{
            font-size: $p-desk-bold;
            margin-top: $atom-margin-desk;
            // width: 500px;
            margin-left: $section-margin-desk;
            margin-bottom: 0;
            width: 600px;
            align-self:end ;
        }
        &__cta{
            align-self: flex-end;
            justify-self: start;
            margin-left: 0;
            margin-top: 1em;
        }
    }
    .container-text{
        display:grid;
        margin-left: $organism-margin;
        margin-right: $exterior-margen-desk;
        grid-template-rows: 1fr .25fr .25fr .25fr;
    }
}
@media (min-width:800px){
    .section-links{
        background-size: 69%;
        background-repeat: no-repeat;
        background-position: 160% 100%;
    }
    .section-linksShop{
        background-position: 950px -1457px;
        background-size: 80%;
        &__img{
            width: 50%;
        }
        &__title{
            font-size: 20px;
        }
        &__container-links__item{
            margin: {
                top: .2em;
                bottom: .2em;
            }
            font-size: $h5-desk;
        }
    }
}

@media (min-width:1700px){
    .section-links{
        background-position: 850px -1200px;
    }   
}
@media (min-width:1900px){
    .section-links{
        background-position: 1000px -1300px;
    }   
}
/*SECTION VALUES*/
.section-values{
    &__title{
        font-family: $headers;
        font-size:$h3 ;
        width: 240px;
        line-height: 145.5%;
    }
    &__container-silver{
        &__title{
            @include titles-values;
        }
        &__img{
            width: 80%;
            margin-left: 0;
            margin-right: $exterior-margen;
            aspect-ratio: 1/1;
        }
        &__text{
            @include text-values;
        }
    }
    &__container-piedras{
        &__title{
            @include titles-values;
            width:300px ;
        }
        &__img{
            width: 80%;
            margin-left: 82px;
            aspect-ratio: 1/1;
        }
        &__text{
            @include text-values;
        }
    }
    &__container-boho{
        &__img{
            width: 80%;
            margin-left: 39px;
            aspect-ratio: 1/1;
        }
        &__title{
            @include titles-values;
        }
        &__text{
            @include text-values;
        }
    }
    &__container-btn{
        // margin-right: 22em;
        margin-bottom: $section-margin-desk;
    }

}
// .container-img{
//     width:500px ;
//     height: 500px;
//     margin: 0 auto;
// }

/*SECTION SIZE GUIDE*/
.section-sizeGuide{
    &__title{
        font-family: $headers;
        font-size:$h3 ;
        // position: absolute;
        z-index: $z-sub-below;
        width: 200px;
        margin-top: -10px;
        margin-left: $exterior-margen;
    }
    &__img{
        background-image: url('../images/home/seccionTalla.webp');
        background-size: cover;
        background-position: 70% 50%;
        background-repeat: no-repeat;
        transform: rotate(90deg);
        width: 300px;
        height: 300px;
        aspect-ratio: 1/1;
        // width: 80%;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
    }
    &__container{
        display: flex;
        align-items: center;
        flex-direction: column;
        &__imgRing{
            margin-top: $atom-margin;
            width: 200px;
            aspect-ratio: 1/1;
        }
        &__table{
            margin-top: $atom-margin;
            row-gap: 2em;
            border-spacing: 2em;
            text-align: center;
            &__title{
                border-collapse: separate;
                font-family: $headers;
                font-weight: 200;
                font-size: $h5;
            }
        }
    }
    
}
@media (min-width:1000px){
    .section-values{
        &__title{
            font-size: $h3-desk;
        }
        &__container-silver{
            @include containers-values;
        }
        &__container-piedras{
            @include containers-values;
            
        }
        &__container-boho{
            @include containers-values;
        }
        &__container-btn{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
    .intro-home__cta{
        margin: 0;
        font-size:20px ;
    }
}
@media (min-width:700px){
    .section-sizeGuide{
        display: flex;
        flex-direction: row;
        &__title{
            font-size: $h3-desk;
            margin-left: -122px;
            margin-top: -27px;
        }
        &__img{
            width:700px;
            height: 700px;
            margin-left: 0;
            align-self: flex-end;
            order: -1;
            margin-left: -80px;
            aspect-ratio: 1/1;
        }
        &__container{
            margin: 0 auto;
            &__table{
                font-size: 18px;
                &__title{
                    font-size:20px;
                }
            }
        }
    }
}