/*RESULTS SECTION*/
.resultsTest{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2em;
    margin-bottom: $atom-margin;
    
}
.header-results{
    font-family: $headers;
    font-size: $h3;
    text-align: center;

}
.container-resultsImage{
    &:nth-of-type(3n){
        grid-column: span 2;
    }
    &__imgResultTest{
        width: 100%;
        aspect-ratio: 1/1;
    }
    &__nameResult{
        margin-top:10px;
        font-weight: 600;
        font-family: $headers;
        font-weight: 400;
    }
    &__namePrice{
        font-style: italic;
    }
    &__namedesc{
        font-weight: 400;
        line-height: 25px;
        font-size: 1em;
    }
}
@media only screen and (min-width : 900px){
    .sectionResults{
        margin: {
            left: $exterior-margen;
            right: $exterior-margen;
        }
    }
    .resultsTest{
        grid-gap: 2em;
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%;
    }
    .container-resultsImage{
        &:nth-of-type(1n){
            grid-column: span 2;
        }
        &__imgResultTest{
            width: 100%;
            aspect-ratio: 1/1;
        }
        &__nameResult{
            font-size: $p-desk;
            font-weight: 500;
        }
        &__nameprice{
            font-weight: 400;
            font-size: $p-desk;
            font-style: italic;
        }
    }
}