
//section grid shop//
.grid-shop{
    margin: {
        right: $atom-margin;
        left:$atom-margin;
    };
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 6.5em;
}
//FILTRO//
.container-filter{
    padding-top: 6em;
    &__filtro-tienda{
        display: flex;
        justify-content: center;
    }
    &__btn-filtro{
        backdrop-filter: blur(10px); 
        font: {
            weight: bold;
            size: $p-price;
        }    
        position: fixed;
        cursor: pointer;
        color: $cta-color;
        width: 156px;
        // min-height: 3em;
        padding: {
            top:1em;
            bottom: 1em;
        };
        border-radius: 12px;
        background: none;
        backdrop-filter: blur(10px); 
        border: 1.5px solid $cta-color;
        // &:hover {
        //     font-style: italic;
        // }
    }
    &__despliegue-filtro{
        display: none;
        transition: all .3s ease-in-out;
        padding-left: 0;
        margin-top: $atom-margin-desk;
        margin-bottom: 0;
        border-top: 1px solid $cta-color;
        // &:last-child{
        //     padding-bottom: 0;
        // }
    }
}
    .filtro__link{
        color: $cta-color;
        display: block;
        padding: {
            top: .6em;
            bottom:.6em;
        };
        &:hover{
            @include hoverButtons;
        }
        font-weight: 500;
        text-align: center;
        list-style: none;
        text-decoration: none;
        
    }
    .filtro__item:last-child{
        padding-bottom:0 ;
    }
    .filtro__item{
        list-style: none;
        text-decoration: none;
    }

/*clase puesta con js*/
.mostrarFiltro{
    /* margin-left: 0; */
    display: block;
    transition: all .3s ease-in-out;
} 

//GRID

// .list{
//     display: grid;
//     grid-auto-columns: max-content;
//     grid-auto-flow: dense;
//     grid-auto-rows: minmax(100px, auto);
//     grid-gap: 2em;
//     grid-template-columns: repeat(4, 1fr);

//     //visual style
//     margin-top: 60px ;
//     max-width: 70vw;
// }

// .product{
//     // width: 215px;
//     background-color: white;
//     grid-column: span 1;
//     grid-row: span 1;
//     &:nth-of-type(3n){
//         grid-column: span 2;
//     }
//     &:nth-of-type(4n){
//         grid-row: span 2;
//     }
//     // &:nth-of-type(5n)&:nth-of-type(6n){
//     //     grid-row: span 1;
//     // }
//     &__image{
//         display: block;
//         height: auto;
//         width: 70%;
//         object-fit: cover;
//     }
// }

.list{
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    // grid-auto-rows: minmax(100px, auto);
    grid-gap: 2em;
    grid-template-columns: repeat(4, 1fr);

    //visual style
    margin-top: 60px ;
    max-width: 70vw;
    }

    .product{
        // background-color: white;
        // grid-column: span 1;
        // grid-row: span 1;
        // &:nth-of-type(3n){
        //     grid-column: span 2;
        // }
        // &:nth-of-type(4n){
        //     grid-row: span 2;
        // }
        &__container-img{
            overflow: hidden;
        }
        &__image{
            cursor: pointer;
            margin: 0 auto;
            display: block;
            // height: auto;
            width: 100%;
            object-fit:cover;
            transition: transform .2s ease-in;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__name__title{
            margin-top: 10px;
            margin-bottom: 0;
        }
        &__price{
            margin-top: 10px;
            font-style: italic;
        }
    }
@media only screen and (max-width : 900px){
    .grid-shop{
        margin: {
            left: $exterior-margen;
            right: $exterior-margen;
        }
    }
    .list{
        grid-gap: 2em;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }
    .product{
        &__name{
            font-size: $p-mob;
            font-weight: 500;
        }
        &__price{
            font: {
                size: $p-mob-bold;
                style: italic;
                weight: 400;
            }
        }
    }
    .container-filter__btn-filtro{
        bottom:$exterior-margen;
        position: fixed;
        left: 30%;
    }
}