//TEST SECTION//
/*Introduction - test section*/

.container-header-test{
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__title-test{
        font-family: $headers;
        font-weight: 500;
        font-size: 4em;
        text-align: center;
        
    }
    &__start-test{
        color: $cta-color;
        font: {
            size: $h5;
            weight: bold;
        }
        
        text-decoration: underline;
        background: none;
        border: none;
        display: flex;
        align-items:center ;
        justify-content: center;
        gap: .7em;
        
    }
    // &__eye-icon{
    //     fill: $cta-color;
    // }
    &__intro-text{
        font: {
            font-weight: light ;
            size: $p-mob;
        }
        padding: {
            left: $exterior-margen;
            right: $exterior-margen;
        }
        text-align: center;
        margin-bottom: $margin-questions-test ;
    }
}

.form-section{
    background: $background-test;
    padding: {
        left:$exterior-margen;
        right: $exterior-margen;
    }
}
/*form - test section*/
.test-form__question{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__yes{
        cursor: pointer;
    }
    text-align: center;
    font-size: 16px;
    &__text{
        margin-bottom: $atom-margin-desk;
        font-size: $p-desk-bold;
    }
    &__yes{
        padding:$atom-margin-icons ;
    }
    &__yes p{
        font-weight:600 ;
        margin-top: 0;
    }
}
    .number-question{
        font-size: $p-footer-desk;
        font-family: $headers;
    }
.container-both-questions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    &__container-inputs{
        border: 1.5px solid black;
        border-radius: 4px;
        width: 150px;
        height: 150px;
    }
    margin-bottom: 700px;
}


// input{
//     opacity: 0;
//     position: absolute;
// }
