//TEST SECTION//
/*Introduction - test section*/

.container-header-test{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__title-test{
        font-family: $headers;
        font-weight: 500;
        font-size: 4em;
        text-align: center;
        
    }
    &__start-test{
        cursor: pointer;
        color: $cta-color;
        font: {
            size: $h5;
            weight: bold;
        }
        
        text-decoration: underline;
        background: none;
        border: none;
        display: flex;
        align-items:center ;
        justify-content: center;
        gap: .7em;
        
    }
    // &__eye-icon{
    //     fill: $cta-color;
    // }
    &__intro-text{
        font: {
            font-weight: light ;
            size: $p-mob;
        }
        padding: {
            left: $exterior-margen;
            right: $exterior-margen;
        }
        text-align: center;
        margin-bottom: $margin-questions-test ;
    }
}

.form-section{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    
    background: $background-test;
    padding: {
        left:$exterior-margen;
        right: $exterior-margen;
    }
}
/*form - test section*/
.test-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50em;
    &__question{
    display: flex;
    flex-direction: column;
    align-items: center;
        &__yes{
            cursor: pointer;
            padding:$atom-margin-icons ;
        }
        text-align: center;
        font-size: 16px;
        &__text{
            margin-bottom: $atom-margin-desk;
            font-size: $p-desk-bold;
        }
        &__yes p{
            font-weight:400 ;
            margin-top: 0;
            margin: .5em;
        }
    }
}

    .number-question{
        font-size: $p-footer-desk;
        font-family: $headers;
    }
.container-both-questions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    
    &__container-inputs{
        border: 1.5px solid black;
        border-radius: 4px;
        width: 150px;
        height: 150px;
        &:active{
            box-shadow: -2px 2px 12px 9px #EBE4DA;
            background-color: $background-color;
        }
    }
    // margin-bottom: 700px;
}


.inputTest{
    opacity: 0;
    position: absolute;
}
