//TEST SECTION//
/*Introduction - test section*/

.container-header-test{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__title-test{
        font-family: $headers;
        font-weight: 500;
        font-size: 4em;
        text-align: center;
        
    }
    &__start-test{
        cursor: pointer;
        color: $cta-color;
        font: {
            size: $h5;
            weight: bold;
        }
        
        text-decoration: underline;
        background: none;
        border: none;
        display: flex;
        align-items:center ;
        justify-content: center;
        gap: .7em;
        text-underline-offset: 5px;
        
    }
    // &__eye-icon{
    //     fill: $cta-color;
    // }
    &__intro-text{
        font: {
            font-weight: light ;
            size: $p-mob;
        }
        padding: {
            left: $exterior-margen;
            right: $exterior-margen;
        }
        text-align: center;
        margin-bottom: $margin-questions-test ;
    }
}

.form-section{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    
    background: $background-test;
    padding: {
        left:$exterior-margen;
        right: $exterior-margen;
    }
}
/*form - test section*/
.test-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50em;
    &__question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    height: 100vh;
        &__yes{
            cursor: pointer;
            padding:$atom-margin-icons ;
        }
        text-align: center;
        font-size: 16px;
        &__text{
            margin-bottom: $atom-margin-desk;
            font-size: $p-desk-bold;
        }
    }
}

    .number-question{
        font-size: $p-footer-desk;
        font-family: $headers;
    }
.container-both-questions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    
    &__container-inputs{
        cursor: pointer;
        border: 1.5px solid black;
        border-radius: 4px;
        width: 160px;
        height: 160px;
        &:hover{
            box-shadow: -2px 2px 12px 9px #EBE4DA;
            background-color: $background-color;
            border: $background-color;
        }
        &:active{
            box-shadow: -2px 2px 12px 9px #EBE4DA;
            background-color: $background-color;
            border: $background-color;
        }
    }
    // margin-bottom: 700px;
    &__links-quest{
        margin: {
            left: .5em;
            right: .5em;
            bottom: 1em;
        }
        text-align: center;
        font-size: 14px;
    }
}
.pYes, .pNo{
    font-weight: 600;
    text-align: center;
}
.button{
    font-size: $cta;
    color: black;
    margin-top: $margin-questions-test;
    margin-bottom:$molecule-margin;
}
.inputTest{
    opacity: 0;
    position: absolute;
}
@media (min-width:700px){
    .container-header-test{
        row-gap: 2em;
        align-content:center ;
        // &__title-test{
        //     // margin-top: 5em;
        // }
        &__start-test{
            font-size: $cta-desk;
            font-weight:400;
        }
        &__intro-text{
            font-size: $p-desk;
        }
    }
    .test-form__question{
        &__text{
            font-size: $p-footer-desk;
        }
    }
    .container-both-questions{
        
        &__container-inputs{
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-content: center;
            // justify-content: center;
            width: 220px;
            height: 220px;
            
        }
        &__answers{
            font-size: 18px;
            margin: {
                left: $atom-margin;
                right: $atom-margin;
            }
        }
    }
    .number-question{
        font-size: $h5-desk;
    }
    .pYes, .pNo{
        // flex: .5;
        font-size: 1.5em;
    }
}